<div id="register">
  

<div class="container col-md-4 card">
  <div class="card-header">
    
      yo can post Ads,or use our own custom editor!!
  
  </div>
  <div class="card-body">
      <button routerLink='/userform'>business user</button>
  </div>
</div><br><br><br>
<div class="container col-md-4 card">
    <div class="card-header">
      
        yo can post Ads,or use our own custom editor!!
    
    </div>
    <div class="card-body">
        <button routerLink='/userform'>end user</button>
    </div>
  </div>
  </div>